@font-face {
    font-family: "ZCOOL KuaiLe";
    src: url(../../assets/fonts/ZCOOL_KuaiLe/ZCOOLKuaiLe-Regular.ttf);
}

@font-face {
    font-family: "kangkang";
    src: url(../../assets/fonts/kangkang/kangkang.ttf);
}

@font-face {
    font-family: "Qingsongshouxie1";
    src: url(../../assets/fonts/Qingsongshouxie/Qingsongshouxie1.ttf);
}

@font-face {
    font-family: "Qingsongshouxie2";
    src: url(../../assets/fonts/Qingsongshouxie/Qingsongshouxie2.ttf);
}

@font-face {
    font-family: "genkai-mincho-2";
    src: url(../../assets/fonts/genkai-mincho-2/genkai-mincho-2.ttf);
}