.nav-bar {
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0);
}

.nav-bar__logo img {
    width: 150px;
}

.nav-bar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    // position: relative;
}

.nav-bar ul {
    display: flex;
    align-items: center;
}

.nav-bar li {
    margin-left: 50px;
    padding: 5px;
    transition: 0.5s all;
}

.nav-bar a {
    color: white;
    font-size: 1.5rem;
}

.nav-bar a:hover {
    color: rgb(255, 255, 0, );
}

header {
    height: 800px;
    background-image: url(../assets/images/bg-01.png), url(../assets/images/bg2.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 70%, center;
    background-size: 650px, cover;
}

.showcase-img {
    position: absolute;
    left: 200px;
    bottom: 0;
}

// account apply & download sidebar menu
.sidebar {
    display: flex;
    align-items: center;
    width: 250px;
    height: 500px;
    color: white;
    // border: 1px dotted white;
    margin-left: 8%;
    &__accountApply,
    &__download,
    &__video {
        border: 1px solid white;
        display: flex;
        align-items: center;
        padding: 20px;
        margin: 5px;
        background-color: rgba(111, 159, 221, 0.5);
        border-radius: 30px;
    }
    &__livecount {
        border: 5px solid yellow;
        padding: 15px;
        margin: 5px;
        background-color: rgba(202, 118, 150, 0.2);
        border-radius: 30px;
    }
    a {
        color: white;
    }
    img {
        Width: 50px;
    }
    &__video:hover,
    &__accountApply:hover,
    &__download:hover {
        background-color: rgba(111, 159, 221, 0.1);
        transition: 0.3s;
    }
}